{
  "builders": [
    {
      "boot_command": [
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "<tab><tab><tab><tab><tab><tab><tab><tab><tab><tab><wait>",
        "c<wait5>",
        "set gfxpayload=keep<enter><wait>",
        "linux /casper/vmlinuz <wait>",
        "autoinstall  <wait>",
        "fsck.mode=skip noprompt <wait>",
        "net.ifnames=0 biosdevname=0 systemd.unified_cgroup_hierarchy=0 <wait>",
        "ds=\"nocloud-net;s=http://{{.HTTPIP}}:{{.HTTPPort}}/\" <wait>",
        "---<enter><wait>",
        "initrd /casper/initrd<enter><wait>",
        "boot<enter>"
      ],
      "disk_size": "[% vm_root_disk_size %]",
      "headless": true,
      "guest_os_type": "Ubuntu_64",
      "iso_checksum": "none",
      "boot_wait": "1s",
      "guest_additions_mode": "disable",
      "http_directory": "[% cloud_init_base_dir %]",
      "iso_url": "[% vm_iso_dir %]/[% ubuntu_server_iso_url | basename %]",
      "output_directory": "[% vm_data_ovf_dir %]",
      "shutdown_command": "sudo -S shutdown -P now",
      "ssh_handshake_attempts": "100",
      "ssh_username": "[% defuser_username %]",
      "ssh_password": "[% defuser_password %]",
      "ssh_timeout": "20m",
      "type": "virtualbox-iso",
      "vm_name": "[% vm_name %]_base",
      "hard_drive_interface": "sata",
      "vboxmanage": [
        [
          "modifyvm",
          "{{.Name}}",
          "--memory",
          "[% vm_memory %]",
          "--cpus",
          "[% vm_cpu %]"
        ],
        [
          "modifyvm",
          "{{.Name}}",
          "--nat-localhostreachable1",
          "on"
        ]
      ]
    }
  ],
  "provisioners": [
    {
      "inline": [
        "echo 'sWaiting for SSH to become available \"{{ .BuildName }}.box\"'",
        "echo 'SSH is available. Box creation completed.'"
      ],
      "type": "shell"
    }
  ]
}
