#cloud-config
autoinstall:
  version: 1
  locale: fi_FI.UTF-8
  refresh-installer:
    update: yes
  keyboard:
    layout: fi
  network:
    network:
      version: 2
      ethernets:
        eth0:
          dhcp4: yes
        eth1:
          dhcp4: yes
  apt:
    primary:
      - arches: [default]
        uri: http://archive.ubuntu.com/ubuntu/
  storage:
    swap:
      size: 0
    config:
      - {
          type: disk,
          id: disk-0,
          ptable: gpt,
          wipe: superblock-recursive,
          grub_device: true,
        }
      - {
          type: partition,
          id: partition-0,
          number: 1,
          device: disk-0,
          size: 1M,
          wipe: superblock,
          flag: bios_grub,
        }
      - {
          type: partition,
          id: partition-1,
          number: 2,
          device: disk-0,
          size: 1024M,
          wipe: superblock,
          flag: boot,
        }
      # - {
      #     type: partition,
      #     id: partition-2,
      #     number: 3,
      #     device: disk-0,
      #     size: 1024M,
      #     wipe: superblock,
      #     flag: swap,
      #   }
      - {
          type: partition,
          id: partition-3,
          number: 4,
          device: disk-0,
          size: -1,
          wipe: superblock,
        }
      - { type: format, id: format-0, volume: partition-1, fstype: ext4 }
      # - { type: format, id: format-1, volume: partition-2, fstype: swap }
      - { type: format, id: format-2, volume: partition-3, fstype: ext4 }
      - { type: mount, id: mount-0, device: format-0, path: /boot }
      #- { type: mount, id: mount-1, device: format-1, path: none }
      - { type: mount, id: mount-2, device: format-2, path: / }
  identity:
    username: root
    hostname: ubuntu.localdomain
    # {{ defuser_password }}
    password: "$5$IWwNqL9VUSDoc4Jv$DEUGR.cZQcbz/QvdCOmU13fX5ZW0rANg8LqkAtX3nBA"
  ssh:
    install-server: true
    # option "allow-pw" defaults to `true` if authorized_keys is empty, `false` otherwise.
    allow-pw: true
    # allow-pw: false
  packages:
      - ca-certificates
      - curl
      - e2fsprogs
      - iproute2
      - openssh-server
      - perl
      - python3
      - rsync
      - sudo
  early-commands:
    - systemctl stop ssh.service
  # "[late-commands] are run in the installer environment with the installed system mounted at /target."
  late-commands:
    - echo ubuntu-host-$(openssl rand -hex 3).localdomain > /target/etc/hostname
    # dump the IP out at login screen
    - echo "$(lsb_release -d -s) \nIP - $(hostname -I)\n" > /target/etc/issue
    - |
      curtin in-target --target=/target -- /bin/bash -c ' \
          echo "root:{{ root_password }}" | chpasswd; \
          rm -rf /root/.bash_logout; \
          mkdir -p /root/.ssh; \
          chmod 0700 /root/.ssh; \
          echo -e "{{ ( vm_public_key_all, vm_public_keys_root|join('\\n')  ) | join('\\n')  }}" > /root/.ssh/authorized_keys; \
          chmod 0600 /root/.ssh/authorized_keys; \
          chown -Rf root:root /root; \
          groupadd -g 1000 cont; \
          useradd -g 1000 -u 1000 -d /home/{{ defuser_username }} -s /bin/bash -m {{ defuser_username }}; \
          echo "{{ defuser_username }}:{{ defuser_password }}" | chpasswd; \
          rm -rf /home/{{ defuser_username }}/.bash_logout; \
          mkdir -p /home/{{ defuser_username }}/.ssh; \
          chmod 0700 /home/{{ defuser_username }}/.ssh; \
          echo -e "{{ ( vm_public_key_all, vm_public_keys_user|join('\\n'),  lookup('file',  vm_ssh_access_dir+'/'+'id_rsa_'+vm_name+'.pub')  ) | join('\\n') }}" > /home/{{ defuser_username }}/.ssh/authorized_keys; \
          chmod 0600 /home/{{ defuser_username }}/.ssh/authorized_keys; \
          chown -Rf {{ defuser_username }}:cont /home/{{ defuser_username }}; \
          mkdir -p /etc/sudoers.d; \
          chmod 0755 /etc/sudoers.d; \
          sed -ie "s/^[#\s]*UseDNS.*$/UseDNS no/g" /etc/ssh/sshd_config; \
          ssh-keygen -A; \
          systemctl enable ssh.service; \
          echo "{{ defuser_username }} ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/{{ defuser_username }}; \
          sed -ie "s/^GRUB_DEFAULT=.*/GRUB_DEFAULT=\"0\"/g" /etc/default/grub; \
          sed -ie "s/^GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX=\"net.ifnames=0 biosdevname=0 systemd.unified_cgroup_hierarchy=0\"/g" /etc/default/grub; \
          sed -ie "s/^GRUB_CMDLINE_LINUX_DEFAULT=.*/GRUB_CMDLINE_LINUX_DEFAULT=\"net.ifnames=0 biosdevname=0 systemd.unified_cgroup_hierarchy=0\"/g" /etc/default/grub; \
          update-grub; \
          update-initramfs -c -k all; \
          mkdir -p /etc/ssh/sshd_config.d; \
          echo "PubkeyAcceptedKeyTypes +ssh-rsa" > /etc/ssh/sshd_config.d/10-PubkeyAcceptedKeyTypes-ssh-rsa.conf; \
          chmod 600 /etc/ssh/sshd_config.d/10-PubkeyAcceptedKeyTypes-ssh-rsa.conf; \
          mkdir -p /etc/ssh/ssh_config.d; \
          echo "Host *" >> /etc/ssh/ssh_config.d/10-PubkeyAcceptedKeyTypes-ssh-rsa.conf; \
          echo "    HostkeyAlgorithms +ssh-rsa" >> /etc/ssh/ssh_config.d/10-PubkeyAcceptedKeyTypes-ssh-rsa.conf; \
          echo "    PubkeyAcceptedKeyTypes +ssh-rsa" >> /etc/ssh/ssh_config.d/10-PubkeyAcceptedKeyTypes-ssh-rsa.conf; \
          chmod 644 /etc/ssh/ssh_config.d/10-PubkeyAcceptedKeyTypes-ssh-rsa.conf; \
          dpkg  --remove --force-remove-reinstreq  snapd ; \
          apt-get -y purge snapd; \
          systemctl disable apt-daily.service; \
          systemctl disable apt-daily.timer; \
          systemctl disable apt-daily-upgrade.service; \
          systemctl disable apt-daily-upgrade.timer; \
          apt-get clean ; \
          exit 0 \
      '
    # randomly generate the hostname & show the IP at boot
    #- echo ubuntu-host-$(openssl rand -hex 3) > /target/etc/hostname
    # dump the IP out at login screen
    #- echo "Ubuntu 22.04 LTS \nIP - $(hostname -I)\n" > /target/etc/issue
    # storage example for extending image if run from pre build base
    # - curtin in-target --target=/target -- lvextend -l +100%FREE /dev/mapper/ubuntu--vg-ubuntu--lv
    # - curtin in-target --target=/target -- resize2fs /dev/mapper/ubuntu--vg-ubuntu--lv
    # shut-down the host to avoid an infinite installer loop
    #- shutdown -h now

  user-data:
    disable_root: false
    timezone: Europe/Helsinki
    package_upgrade: false


